.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bebas Neue', sans-serif;
  margin: 1rem;
}

.logo {
  width: 100px;
}

.header-btn {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 18px;
  color: rgb(196, 52, 52);
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid rgb(196, 52, 52);
  border-radius: 5%;
}

.header-btn:hover {
  background-color: rgb(206, 173, 173);
  transition: 0.5s;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 24px;
  }
  .logo {
    width: 75px;
  }
  .header-btn {
    font-size: 12px;
  }
}
